<%= render 'shared/header' %>

<%= render 'profile' %>

<div class="posts_select">
  <p>POSTS</p>
  <p>FAVORITE</p>
</div>

<div class="post_wrapper">
  <%= render "post" %>
</div>

<%= render 'shared/footer' %>
