<ul class="header">
  <li class="header_logo"><%= link_to("PHOTO APP", posts_path, class:"header_text") %></li>
  <li><%= link_to("MY PAGE", current_user, class:"header_text") %></li>
  <li><%= link_to("OTHERS", users_path, class:"header_text") %></li>
  <li>NOTICE</li>
</ul>